
@font-face{
    font-family:"Baskerville";
    src: url("baskerville/Online_Web_Fonts.url");
}
body{
    background: #c8c8c8;;
    font-family: Arial, Helvetica, sans-serif;
    
}
main {
    margin: auto;
    width: 90vw;
}
h1{
    text-align: center;
    font-family : "Baskerville",Arial, serif;
    font-size: 60px;
    font-weight: bolder;
    
    
}
h3{
    font-family : "Baskerville",Arial, serif;
    color: #e5003e;
    font-weight: bolder;  
    font-size: 35px;
}
h2{
    color:#e5003e;
    font-family : "Baskerville",Arial, serif;
    font-weight: bolder;
    font-size: 35px;
}

#protocole
{
    border: 4px dashed #4e41ae;
    background:#b7b7b7;
    color: #4e41ae;
    font-size: 18px;
    font-weight:bold;
    padding: 2.5% 2.5%;
    margin-left: 3%;
    line-height: 1.8em;
    font-family:Arial, Helvetica, sans-serif;
    width: 88%;
    margin-bottom: 5%;
}
/* #code
{
    padding: 0 auto;
    margin-left: 3%;
    width: 100%;
    
} */
pre
{
    border: 4px dashed #4e41ae;
    background:#b7b7b7;
    color: #4e41ae;
    font-size: 18px;
    font-weight:bold;
    padding: 2.5% 0;  
    line-height: 1.8em;
    font-family:Arial, Helvetica, sans-serif;
    width: 80%;
    margin-bottom: 5%;
}
.lgcol{
    font-weight: bold;
}
a {
    color: #e5003e;
    font-weight: bolder;
    /*font-size: 60px*/;
}
.alignement
{
    
    margin-left: 100px;
    margin-right: 100px;
}

#entete th{
    background:#333333;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    padding: 8px 8px 8px 8px;
}
.lgclass
{
    background:#dddddd;
  
}
table{
    border-collapse: collapse;
    position: relative;
   
}
.lgclass,th,td 
{
    padding: 8px 8px 8px 8px;
}
figure{
    background:#333333;
    border: 3px solid #cf0025;
    border-radius: 1em;
    width:100%;
    text-align: center;
    color: white;
    padding-top: 10px;
    margin-left: 0;
   
}
figcaption
{
    font-size: 18px;
    padding-bottom: 40px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
img
{
    display: block;
    margin: auto;
    width: 95%;
   
    
}
tr:hover{
    cursor: pointer;
    background-color:#999999;
}